/*  your css code here. If applicable */
#blue{
	color: #2a7ae2;
}
#red{
	color: #f44336;
}
#green{
	color: #4caf50;
}
#orange{
	color: #ff9800;
}
#blu{
	color: #607d8b;
}
#yellow{
	color: #ffeb3b;
}

